<HTML>
        <BODY>
            <head>
                <meta charset="utf-8">
                <link rel="icon" type="image/png" href="../../mifavicon.png" />
        
        <title>CRUD NodeJs MongoDB</title>
        
        <!--Bootstrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
        </head>
        <body>

                <nav class="navbar navbar-dark bg-primary mb-4">
                        <a href="/" style="color:#FFFFFF;">CRUD NodeJS MongoDB</a>
                
                    </nav>